.profileMenu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  width: fit-content;

  button {
    width: calc(100vw * (100 / 500));
    height: calc(100vw * (44 / 500));
    border-radius: calc(100vw * (12 / 500));
    font-size: calc(100vw * (16 / 500));
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(100vw * (4 / 500));
    transform: translateX(calc(100vw * (10 / 500)));
    opacity: 0;
    transition: 0.5s ease-out;
    pointer-events: none;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);


    &:last-child {
      margin-bottom: 0;
    }

    &.defaultImgBtn {
      border: 1px solid #000;
      background-color: #fff;
      color: black;
      font-weight: 600;
    }

    &.changeProfileBtn {
      transition-delay: 0.1s;
      background-color: var(--color-dark);
      color: #fff;
    }
  }

  &.isActive {
    button {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }
  }
}