.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: calc(100vh * (100 / 500)) calc(100vh * (20 / 500))
    calc(100vh * (140 / 500));

  .logo {
    width: calc(100vw * (200 / 500));
    height: auto;
    margin: 0 auto calc(100vw * (60 / 500));
    // overflow: hidden;
  }

  .input {
    width: 100%;

    .inputCustom {
      margin-bottom: calc(100vh * (12 / 500));
    }
  }

  .checkbox {
    margin-bottom: calc(100vw * (12 / 500));
    padding-left: calc(100vw * (5 / 500));
    width: 100%;
    justify-content: left;
  }

  .button {
    width: 100%;
    margin-top: calc(100vw * (15 / 500));
  }

  .loginButton {
    width: 100%;
    margin-top: calc(100vw * (35 / 500));
  }

  .findSection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: calc(100vw * (30 / 500));
    p {
      text-align: center;
      color: var(--color-dark);
      opacity: 0.8;
    }
    p::after {
      content: "";
      display: inline-block;
      width: calc(100vw * (2 / 500));
      height: calc(100vw * (2 / 500));
      background-color: var(--color-gr);
      border-radius: 50%;
      margin: 0 calc(100vw * (10 / 500));
      transform: translateY(calc(-100vw * (4 / 500)));
    }
    p:last-child::after {
      display: none;
    }
    .findPassword,
    .signUp {
      color: var(--color-gr);
      text-decoration: underline;
      text-underline-position: under;
      font-size: calc(100vw * (14 / 500));
      cursor: pointer;
      text-underline-offset: calc(100vw * (1 / 500));
      text-decoration-color: var(--color-gr);
    }
  }
}
