.container {
  margin-top: calc( 100vw* ( 40 /500));
  padding: calc( 100vw* ( 30 /500)) 0 0 0;
}

.findSection {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: calc( 100vw * ( 30 / 500));
  p{
    text-align: center;
    color: var(--color-dark);
    opacity: 1.0;
    text-decoration-line: underline;
    text-underline-position : under;
  }
}