.container {
  width: 100%;
  height: 60vh;
  border-radius: calc( 100vw* ( 20 /500));
  box-shadow: 0 calc( 100vw* ( 4 /500)), calc( 100vw* ( 8 /500)), rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  padding-top: calc( 100vw* ( 30 /500));
  
  .text { 
    font-weight: 700;
    font-size: calc( 100vw * ( 32 / 500));
    margin-bottom: calc( 100vw* ( 40 /500));
  }
  .profile {
    width: calc( 100vw* ( 200 /500));
    height: calc( 100vw* ( 170 /500));
    overflow: hidden;
    border-radius: calc( 100vw* ( 20 /500));
    position: relative;
    left: calc( 100vw* ( 130 /500));
  }
  .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .contentsBox {
    margin-top: calc( 100vw* ( 20 /500));
  }
  .firstContents,
  .secondContents,
  .thirdContents {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc( 100vw* ( 10 /500));
    font-size: calc( 100vw* ( 16 /500));
    line-height: calc( 100vw* ( 25 /500));
    font-weight: 500;

    img {
      cursor: pointer;
      margin-top: calc( 100vw* ( 5 /500));
      margin-left: calc( 100vw* ( 4 /500));
      width: calc( 100vw* ( 13 /500));
      height: calc( 100vw* ( 13 /500));
      
      &.isEditing {
        width: calc( 100vw* ( 16 /500));
        height: calc( 100vw* ( 16 /500));
      }
    }
  }
  div {
    margin: 0 calc( 100vw* ( 3 /500));
  }

}

.firstContents {
  position: relative;
  left: calc( 100vw* ( 40 /500));
  .content1 {
    font-weight: 600;

    .nameInputField  {
      text-align: center;
      border-radius: calc( 100vw* ( 10 /500));
      width: calc( 100vw* ( 60 /500));
      font-size: calc( 100vw* ( 16 /500));
      background: #F4F9FF;
      font-weight: 500;
    }
  }
  .content2 {
    color: grey;
    font-size: calc( 100vw* ( 12 /500));
    margin-left: calc( 100vw* ( 8 /500));
  }
  .content3 {
    color: #8732F5;
    font-size: calc( 100vw* ( 12 /500));
    font-weight: 700;
    margin-left: calc( 100vw* ( 10 /500));
  }
}
.secondContents {
  .content4 {
    .descInputField  {
      text-align: center;
      border-radius: calc( 100vw* ( 10 /500));
      width: calc( 100vw* ( 200 /500));
      font-size: calc( 100vw* ( 16 /500));
      background: #F4F9FF;
      font-weight: 500;
    }
  }
}
.thirdContents {
  .content6 {
    .majorinputField  {
      text-align: center;
      border-radius: calc( 100vw* ( 10 /500));
      width: calc( 100vw* ( 100 /500));
      font-size: calc( 100vw* ( 16 /500));
      background: #F4F9FF;
      font-weight: 500;
    }
  }
}