
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc( 100vw* ( 12/500)) ;

  h1 {
    margin-bottom: calc( 100vw* ( 60 /500)) ;
  }

  div {
    margin-bottom: calc( 100vw* ( 30 /500)) ;
    input {

      width: 100%;
      height: calc( 100vw* ( 40 /500));
    }

    div {
      margin-bottom: calc( 100vw* ( 20 /500));
    }
  }


  .button {
    width: 100%;
    margin-bottom: calc( 100vw* ( 12 /500));

    div {
      margin-bottom: 0;
    }
  }

}

