.text{
  font-size: calc(100vw * (18 / 500));
  text-align: center;
  font-weight: 500;
  margin-bottom: calc(100vw * (40 / 500));
}
.btns{
  display: flex;
  margin-top: calc(100vw * (40 / 500));
  button{
    margin-right:calc(100vw * (10 / 500)) ;
    &:last-child{
      margin-right: 0;
    }
  }
}