.meetingList {
  margin-top: calc(100vw * (17 / 500));
  padding: calc(100vw * (20 / 500)) calc(100vw * (20 / 500)) 0;
  height: calc(100vh - (100vw * (230 / 500)));
  overflow-y: scroll;
  >li:last-child{
    margin-bottom: calc(100vw * (100 / 500));
  }
}
