// body {
//   background-color: var(--color-wh);
// }
.container {
  height: 100vh;
  padding: calc( 100vw * ( 80 / 500)) calc( 100vw * ( 20 / 500)) calc( 100vw * ( 130 / 500));

  background-color: var(--color-wh);
  position: relative;
}

// ChatHead.js
.head {
  width: calc(100% - (100vw * ( 40 / 500)));
  height: calc( 100vw * ( 60 / 500));
  background-color: #fff;
  border-radius: calc( 100vw * ( 18 / 500));
  display: flex;
  box-shadow: 0 0 calc( 100vw * ( 10 / 500)) rgba($color: #000000, $alpha: 0.1);
  position: absolute;
  z-index: 1;
  top: calc( 100vw * ( 80 / 500));
  left: 50%;
  transform: translateX(-50%);
  > h1 {
    width: calc(100% - calc( 100vw * ( 50 / 500)));
    text-align: center;
    line-height: calc( 100vw * ( 60 / 500));
    font-size: calc( 100vw * ( 24 / 500));
    padding-left: calc( 100vw * ( 30 / 500));
    font-weight: 600;
  }
  .chatMenuBtn {
    width: calc( 100vw * ( 60 / 500));
    height: calc( 100vw * ( 60 / 500));
    border-radius: calc( 100vw * ( 18 / 500));
    background-color: var(--color-dark);
    background-image: url(../../assets/images/icons/c-chat-hamburger.svg);
    background-position: center;
    background-size: calc( 100vw * ( 24 / 500));
    background-repeat: no-repeat;
  }
}
.chatMenu {
  position: absolute;
  top: calc( 100vw * ( 70 / 500));
  right: 0;
  button {
    width: calc( 100vw * ( 110 / 500));
    height: calc( 100vw * ( 56 / 500));
    border-radius: calc( 100vw * ( 18 / 500));
    font-size: calc( 100vw * ( 18 / 500));
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc( 100vw * ( 6 / 500));
    transform: translateY(calc( 100vw * ( -10 / 500)));
    opacity: 0;
    transition: 0.5s ease-out;
    pointer-events: none;
    &:last-child {
      margin-bottom: 0;
    }
    &.showMemberBtn {
      background-color: var(--color-dark);
      color: #fff;
      font-weight: 400;
    }
    &.delChatBtn {
      border: solid 1px var(--color-dark);
      transition-delay: 0.1s;
      background-color: #fff;
      a {
        color: var(--color-dark);
      }
    }
  }
  &.isActive {
    button {
      transform: translateX(0px);
      opacity: 1;
      pointer-events: all;
    }
  }
}

// ChatBody.js
.chatBody {
  width: 100%;
  padding-top: calc( 100vw * ( 2 / 500));
  padding-bottom: calc( 100vw * ( 20 / 500));
  height: calc(100% - ( 100vw * ( 60 / 500)));
  display: flex;
  align-items: flex-end;
  border-radius: calc( 100vw * ( 18 / 500));
  overflow-y: auto;

  .chatInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - ( 100vw * ( 70 / 500)));
    overflow: scroll;
  }
}
.message {
  margin-bottom: calc( 100vw * ( 12 / 500));
  display: flex;
  flex-direction: column;
  animation: chatAni .6s ease-out forwards;
  @keyframes chatAni {
    0%{
      opacity: 0;
      transform: translateY(calc( 100vw * ( 10 / 500)));
    }
    100%{
      opacity: 1;
      transform: 0;
    }
  }
  &.otherUser {
    align-items: flex-start;
    .content {
      border-radius: 0 calc( 100vw * ( 12 / 500)) calc( 100vw * ( 12 / 500)) calc( 100vw * ( 12 / 500));
      margin-left: calc( 100vw * ( 42 / 500));
    }
  }
  &.user {
    margin-left: auto;
    align-items: flex-end;
    .content {
      border-radius: calc( 100vw * ( 12 / 500)) 0 calc( 100vw * ( 12 / 500)) calc( 100vw * ( 12 / 500));
      margin-right: 0;
      background-color: var(--color-point);
      color: #fff;
    }
    .user {
      display: none;
    }
  }
  .content {
    font-size: calc( 100vw * ( 18 / 500));
    padding: calc( 100vw * ( 14 / 500)) calc( 100vw * ( 20 / 500));
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    margin-bottom: calc( 100vw * ( 7 / 500));
  box-shadow: 0 0 calc( 100vw * ( 10 / 500)) rgba($color: #000000, $alpha: 0.1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.user {
  display: flex;
  align-items: center;
  margin-bottom: calc( 100vw * ( 10 / 500));
  font-size: calc( 100vw * ( 20 / 500));
  font-weight: 500;
  .img {
    width: calc( 100vw * ( 50 / 500));
    height: calc( 100vw * ( 50 / 500));
    border-radius: calc( 100vw * ( 8 / 500));
    margin-right: calc( 100vw * ( 16 / 500));
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .imgBlur {
    position: relative; /* 부모 요소에 position 설정 */
  }

  .imgBlur::after {
    content: '';
    position: absolute; /* 가상 요소를 부모 요소 위에 위치시킴 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* 블러 필터 적용 */
    z-index: 1; /* 필요한 경우, z-index를 조정 */
    pointer-events: none; /* 가상 요소가 클릭을 방해하지 않도록 설정 */
  }

}
// ChatInput.js
.chatInputWrap {
  display: flex;
  justify-content: space-between;
  .chatInput {
    width: calc(100% - ( 100vw * ( 70 / 500)));
    height: calc( 100vw * ( 60 / 500));
    input {
      background-color: #fff;
    font-size: calc( 100vw * ( 18 / 500));

    }
  }
  .sendBtn {
    width: calc( 100vw * ( 60 / 500));
    height: calc( 100vw * ( 60 / 500));
    background-color: var(--color-point);
    border-radius: calc( 100vw * ( 18 / 500));
    background-image: url(../../assets/images/icons/c-chat-send.svg);
    background-position: center;
    background-size: calc( 100vw * ( 22 / 500));
    background-repeat: no-repeat;
  }
}


.tabBox {
  margin-top: calc( 100vw * ( 40 / 500));
}
.tabBtns {
  width: 100%;
  display: flex;
  button {
    width: calc( 100vw * ( 500 / 500));
    padding-bottom: calc( 100vw * ( 14 / 500));
    font-size: calc( 100vw * ( 18 / 500));
    font-weight: 600;
    &.isActive {
      color: var(--color-point);
      border-color: var(--color-point);
      font-weight: 700;
    }
    color: #9aa9ba;
    border-bottom: solid calc( 100vw * ( 2 / 500)) #9aa9ba;
  }
}
.userListWrap {
  margin-top: calc( 100vw * ( 20 / 500));

}

.deleteChatModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding: calc(100vw * (15 / 500));

  .text {
    font-size: calc(100vw * (18 / 500));
    font-weight: 500;
    margin-top: calc(100vw * (40 / 500));
    line-height: 1.5;
  text-align: center;
  b{
    color: var(--color-point);
    display: block;
    padding-top: calc(100vw * (40 / 500));
    font-weight: 600;
  }
  }

  .deleteButton {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: calc(100vw * (40 / 500));

    button {
      // width: 40%;
      margin-right: calc(100vw * (10 / 500));
      margin-bottom: calc(100vw * (10 / 500));
      &:last-child{
        margin-right: 0;
      }
    }
  }
}