.container {
  background: #f4f9ff;
  text-align: center;
  max-width: calc(100vw * (500 / 500));
  padding: calc(100vw * (20 / 500));
  border-radius: calc(100vw * (8 / 500));
  margin: 0 auto;
  margin-top: calc(100vw * (20 / 500));
}

.deleteMessage {
  font-size: calc(100vw * (18 / 500));
  font-weight: bold;
}

.groupName {
  font-weight: 700;
}

.information {
  font-size: calc(100vw * (18 / 500));
  // margin-top: calc(100vw * (10 / 500));
  line-height: 1.5;
  font-weight: 400;
}

.linkWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(100vw * (10 / 500));
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: calc(100vw * (10 / 500));
  padding: calc(100vw * (4 / 500));
}

.inviteLink {
  flex: 1;
  border: none;
  font-size: calc(100vw * (16 / 500));
  text-align: center;
  padding: calc(100vw * (5 / 500)) calc(100vw * (10 / 500));
  outline: none;
  background-color: transparent;
  word-break: break-all;
  width: calc(100% - (100vw * (30 / 500)));
}

.copyButton {
  border: none;
  background-color: #8732f5;
  color: white;
  padding: calc(100vw * (10 / 500)) calc(100vw * (20 / 500));
  font-size: calc(100vw * (16 / 500));
  border-radius: calc(100vw * (5 / 500));
  cursor: pointer;
  margin-left: calc(100vw * (10 / 500));
  width: calc(100vw * (30 / 500));
  height: calc(100vw * (40 / 500));
  background-image: url(../../../../assets/images/icons/c-copy.svg);
  background-size: calc(100vw * (33 / 500));
  background-repeat: no-repeat;
  background-position: center;
}

.btns {
  display: flex;
  margin-top: calc(100vw * (25 / 500));
  padding: calc(100vw * (5 / 500));
  button {
    margin-right: calc(100vw * (10 / 500));
    &:last-child {
      margin-right: 0;
    }
  }
}

.message {
  padding-top: calc(100vw * (25 / 500));
  color: #959595;
  font-size: calc(100vw * (15 / 500));
  .textMessage {
    font-weight: 600;
  }
}
