@charset "UTF-8";

html,
body {
  font-size: calc( 100vw * ( 14 / 500));
}

body {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 calc( 100vw * ( 20 / 500));
}
h1.title {
  font-size: calc( 100vw * ( 34 / 500));
  text-align: center;
  font-weight: 600;
}

/* 루트 */
:root {
  --color-bk: #271e33;
  --color-dark: #373040;
  --color-gr: #786e85;
  --color-sh: #c3becb;
  --color-light: #e0e0e0;
  --color-point: #8732f5;
  --color-wh: #f4f9ff;
  --color-error: #ff0000;
}

*::-webkit-scrollbar {
  display: none;
}
