@charset "UTF-8";

html,body{
  font-size: 14px;
}

body{
  position: relative;
  max-width: 500px;
}

.container{
  width: 100%;
  padding: 0 20px;
}

/* 루트 */
:root {
  --color-bk: #271E33;
  --color-dark:#373040;
  --color-gr: #786E85;
  --color-sh: #C3BECB;
  --color-light:#E0E0E0;
  --color-point: #8732F5;
  --color-wh: #F4F9FF;
  --boxshadow-light: 0 0px 10px rgba($color: #000000, $alpha: 0.08);
}

*::-webkit-scrollbar {
  display: none;
}
