.radioInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: calc( 100vw* ( 20 /500));
  height: calc( 100vw* ( 20 /500));
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  display: inline-block;
  margin-right: calc( 100vw* ( 8 /500));;
  position: relative;
  cursor: pointer;
  outline: none;
}

/* 선택되지 않은 상태 */
.radioInput::before {
  content: '';
  display: block;
  width: calc( 100vw* ( 12 /500));;
  height: calc( 100vw* ( 12 /500));;
  background-color: #e0e0e0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 선택된 상태 */
.radioInput:checked::before {
  background-color: #8732F5; /* 보라색 */
}

/* 라벨 기본 스타일 */
.label {
  font-weight: normal;
}

/* 선택된 라벨 스타일 */
.labelSelected {
  font-weight: bold;
}
