.boardContainer {
  padding: calc(100vw * (80 / 500)) calc(100vw * (20 / 500))
    calc(100vw * (130 / 500));
  height: 100vh;
  .title {
    word-break: break-all;
    width: calc(100% - (100vw * (100 / 500)));
    margin: 0 auto;
  }
}
.MainText {
  // padding-top: 20px;
  margin-top: calc(100vw * (40 / 500));
  // background-color: var(--color-wh);
  border-radius: 12px;
  align-items: center;

  .left{
    display: flex;
    align-items: center;
  }
  .heads {
    display: flex;
    padding: calc(100vw * (20 / 500));
    align-items: center;
  justify-content: space-between;

    
    .ImageSection {
      // flex: 2;
      width: calc(100vw * (50 / 500));
      height: calc(100vw * (50 / 500));
      background-color: #fff;
      border-radius: calc(100vw * (10 / 500));
      overflow: hidden;
      .image {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background: url(../../../assets/images/profile.jpg) center/cover;
      }
    }
    .nameAndMonth {
      display: flex;
      flex-direction: column;
      .name {
        font-size: calc(100vw * (17 / 500));
        font-weight: 500;
        padding-bottom: calc(100vw * (6 / 500));
        padding-left: calc(100vw * (17 / 500));
      }
      .time {
        font-size: calc(100vw * (15 / 500));
        padding-left: calc(100vw * (17 / 500));
        color: #786e85;
        span{
          margin-right: 10px;

        }
      }
    }
  }
  
}

.TextWrite {
  padding: calc(100vw * (60 / 500)) calc(100vw * (20 / 500));
  font-size: calc(100vw * (17 / 500));
  color: #4b484f;
  display: flex;
  flex-direction: column;

  // border-bottom: solid calc(100vw * (2 / 500)) var(--color-gr);
  .textBox {
    width: 100%;
    font-size: calc(100vw * (19 / 500));
  }
}
.info{
  display: flex;
  justify-content: right;
  align-items: center;
}
.messageBox {
  display: flex;
  text-align: left;
  align-items: center;
  padding: calc(100vw * (8 / 500)) calc(100vw * (10 / 500));
  background-color: var(--color-wh);
  border-radius: calc(100vw * (8 / 500));
  width: fit-content;
  margin-right: calc(100vw * (6 / 500));
  color: var(--color-point);
  font-weight: 600;
  font-size: calc(100vw * (17 / 500));
  &::before{
    content: '';
    display: inline-block;
    width: calc(100vw * (20 / 500));
    height: calc(100vw * (20 / 500));
    background-position: center;
    background-repeat: no-repeat;
    margin-right: calc(100vw * (6 / 500));
  }
  &:last-child{
    margin-right: 0;
  }

  &.count {
    &::before{
      background-image: url(../../../assets/images/icons/h-messageBox.svg);
      background-size: calc(100vw * (17 / 500));

    }
    
  }
  &.viewCount {
    &::before{
      background-size: calc(100vw * (20 / 500));
      background-image: url(../../../assets/images/icons/c-view.svg);

    }
    
  }
}
.ReplyList {
  padding-top: calc(100vw * (20 / 500));
  ul {
    padding-top: calc(100vw * (20 / 500));

    > li {
      padding: calc(100vw * (8 / 500));
      border-bottom: calc(100vw * (1 / 500)) solid var(--color-gr);
    }
  }

  .headWrap {
    display: flex;
    align-items: center;
    .imageSection {
      // flex: 2;
      width: calc(100vw * (38 / 500));
      height: calc(100vw * (38 / 500));
      background-color: #fff;
      overflow: hidden;
      .image {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: calc(100vw * (10 / 500));
        background: url(../../../assets/images/profile.jpg) center/cover;
      }
    }
    .name {
      padding: calc(100vw * (5 / 500));
      font-weight: 600;
      font-size: calc(100vw * (17 / 500));
      padding-left: calc(100vw * (10 / 500));
      color: #4b484f;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: calc(100vw * (10 / 500));
    margin-left: calc(100vw * (0 / 500));

    .textList {
      font-size: calc(100vw * (16 / 500));
      color: #4b484f;
      font-size: calc(100vw * (17 / 500));
      font-weight: 450;
      padding: calc(100vw * (14 / 500)) 0;
    }

    .replyTime {
      font-size: calc(100vw * (16 / 500));
      color: #786e85;
      margin-left: auto;
      width: fit-content;
    }
  }
}
.inputBox {
  position: fixed;
  bottom: calc(100vw * (130 / 500));
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 calc(100vw * (20 / 500));
  input {
    border: solid 1px var(--color-wh);
  }
}
.editBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--color-point);
  font-size: calc(100vw * (14 / 500));
  margin-right: calc(100vw * (10 / 500));
  // width: calc(100vw * (80 / 500));
  // height: calc(100vw * (32 / 500));
  // border: solid 1px var(--color-point);
  // border-radius: calc(100vw * (8 / 500));


  &::after{
    content: '';
    display: inline-block;
    width: calc(100vw * (24 / 500));
    height: calc(100vw * (24 / 500));
    background: url(../../../assets/images/icons/c-edit-board.svg) no-repeat;
    background-size: cover;
    margin-left: calc(100vw * (2 / 500));
    transform: translateY(calc(-100vw * (1 / 500)));
  }
}