.mamberList {
  display: flex;
  align-items: center;
  padding: calc( 100vw * ( 9 / 500)) calc( 100vw * ( 10 / 500));
  border-radius: calc( 100vw * ( 12 / 500));
  margin-bottom: calc( 100vw * ( 12 / 500));
  background-color: var(--color-wh);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  position: relative;
  .leaderBtns {
    position: absolute;
    right: calc( 100vw * ( 10 / 500));
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    button {
      width: calc( 100vw * ( 40 / 500));
      height: calc( 100vw * ( 29 / 500));
      font-size: calc( 100vw * ( 12 / 500));
      font-weight: 600;
      margin-right: calc( 100vw * ( 4 / 500));
      background-color: var(--color-point);
      color: #fff;
      border-radius: calc( 100vw * ( 8 / 500));
      &:last-child {
        margin-right: 0;
        background-color: #fff;
        border: solid calc( 100vw * ( 1 / 500)) var(--color-point);
        color: var(--color-point);
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.bgColor {
    background-color: var(--color-wh);
  }

  &.bgWhite {
    background-color: #fff;
  }
  .img {
    width: calc( 100vw * ( 40 / 500));
    height: calc( 100vw * ( 40 / 500));
    border-radius: calc( 100vw * ( 8 / 500));
    overflow: hidden;
    margin-right: calc( 100vw * ( 12 / 500));
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .userName {
    font-size: calc( 100vw * ( 16 / 500));
    color: var(--color-dark);
    margin-right: calc( 100vw * ( 8 / 500));
    font-weight: 500;
  }
  .userInfo {
    font-size: calc( 100vw * ( 14 / 500));
    color: #786e85;
    font-weight: 500;

    span {
      margin-right: calc( 100vw * ( 6 / 500));
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
