.container {
  background: #f4f9ff;
  text-align: center;
  padding: calc(100vw * (20 / 500));
  border-radius: calc(100vw * (8 / 500));
  margin-top: calc(100vw * (42 / 500));
  margin-bottom: calc(100vw * (20 / 500));
}

.modalContent {
  font-size: calc(100vw * (18 / 500));

  .isEmail {
    font-weight: 600;
  }
}

.btnContainer {
  margin-top: calc(100vw * (15 / 500));
  display: flex;
  justify-content: center;
  gap: calc(100vw * (10 / 500));
}

.errorMessage {
  text-align: center;
  color: red;
  font-weight: 500;
}
