.container {
  background: #f4f9ff;
  padding: calc(100vw * (20 / 500));
  border-radius: calc(100vw * (8 / 500));
  margin-top: calc(100vw * (42 / 500));
  margin-bottom: calc(100vw * (20 / 500));

  .modalContent {
    margin-bottom: calc(100vw * (20 / 500));
    text-align: center;

    span {
      display: block;
      margin-bottom: calc(100vw * (15 / 500));
      font-weight: 600;
      font-size: calc(100vw * (18 / 500));
    }

    .errorMessage {
      color: red;
      font-weight: 500;
      margin-top: calc(100vw * (15 / 500));
      margin-left: calc(100vw * (5 / 500));
      text-align: left;
    }
  }

  .content {
    margin-bottom: calc(100vw * (20 / 500)); // 입력 필드와 버튼 사이에 여백 추가

    .inputWrapper {
      margin-bottom: calc(100vw * (10 / 500)); // 입력 필드 간의 간격 조정
      text-align: left;
    }
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: calc(100vw * (10 / 500)); /* 버튼 사이의 간격 조정 */
  margin-top: calc(100vw * (15 / 500));
}
