.MyGroupsWrapper {
  padding: calc(100vw * (60 / 500)) calc(100vw * (20 / 500))
    calc(100vw * (140 / 500)) calc(100vw * (20 / 500));
  width: 100%;

  .myGroupsTitle {
    display: flex;
    justify-content: center;
    font-size: calc(100vw * (32 / 500));
    font-weight: 600;
    margin-bottom: calc(100vw * (55 / 500));
  }
}
