.myChatsWrapper {
  padding: calc(100vw * (80 / 500)) 0
    calc(100vw * (100 / 500));
  width: 100%;
  height: 100vh;

  .myGroupsTitle {
    display: flex;
    justify-content: center;
    font-size: calc(100vw * (32 / 500));
    font-weight: 600;
    margin-bottom: calc(100vw * (55 / 500));
  }

  .chatBox {

    width: 100%;
    padding: calc(100vw * (25.25 / 500)) calc(100vw * (30 / 500));
    border-radius: calc(100vw * (30 / 500));
    box-shadow: 0 0 calc(100vw * (10 / 500)) rgba($color: #000000, $alpha: 0.1);
    margin-bottom: calc(100vw * (13 / 500));
    border: calc(100vw * (1 / 500)) solid black;

    animation: chatAni 0.6s ease-out forwards;
    @keyframes chatAni {
      0% {
        opacity: 0;
        transform: translateY(calc(100vw * (10 / 500)));
      }
      100% {
        opacity: 1;
        transform: 0;
      }
    }

    .boxFirstContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: calc(100vw * (9 / 500));

      .chatIcon {
        background-image: url("../../../assets/images/icons/c-chat.svg");
        width: calc(100vw * (17 / 500));
        height: 100%;
        background-position-y: center;
        background-repeat: no-repeat;
      }

      .boxTitle {
        display: flex;
        flex-direction: row;
        gap: calc(100vw * (4.5 / 500));

        h1 {
          color: #271E33;
          font-size: calc(100vw * (22 / 500));
          font-weight: 500;
        }

        .major {
          color: #786E85;
          font-size: calc(100vw * (12 / 500));
          align-self: end;
          padding-left: calc(100vw * (4.5 / 500));
        }
      }

      .member {
        display: flex;
        flex-direction: row;
        color: #8732F5;
        gap: calc(100vw * (5 / 500));

        .userGroup {
          display: block;
          width: calc( 100vw * ( 20 / 500));
          height: calc( 100vw * ( 15 / 500));
          background-image: url(../../../assets/images/icons/c-user-group-solid.svg);
          background-size: cover;
        }
      }
    }

    .boxGroupInfo {
      display: flex;
      flex-direction: row;
      color: #373040;
      font-size: calc( 100vw * ( 14 / 500));
    }


  }
  .empty{
    height: calc(100% - ( 100vw * ( 90 / 500)));
  }
}




