.message{
  margin-bottom: 27px;
    &.otherUser{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .content{
        border-radius: 0 12px 12px 12px;
        margin-left: 42px;
      }
    }
    .content{
      font-size: 14px;
      padding: 10px 14px;
      background-color: #fff;
      width: fit-content;
      height: fit-content;
      margin-bottom: 7px;
      &:last-child{
        margin-bottom: 0;
      }
    }
}
.user{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  .img{
    width: 42px;
    height: 42px;
    border-radius: 8px;
    margin-right: 10px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}