
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #271E33;
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }

  input {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
  }

  .button {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 12px;
  }

}