// 기본 : 비활성화
.regionFilterBox {
  // height: calc(100vw * (37 / 500));

  border-radius: calc(100vw * (500 / 500));
  padding: calc(100vw * (10 / 500));
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-sh);
  border: calc(100vw * (1 / 500)) solid var(--color-sh);

  // 활성화
  &.active {
    border: calc(100vw * (1 / 500)) solid var(--color-bk);
    color: var(--color-bk);
  }

  // 검정 배경
  &.colorBK {
    background-color: var(--color-bk);
    border: none;
    color: #fff;
    font-weight: 400;
  }
}
